*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,h4{
    text-align: center;
}
.box{
    align-content: center;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-rows: repeat(1,1fr);
    border: solid 1px black;
    
}
.add,.show{
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: aquamarine;
}
input:focus{
    border-color: aquamarine;
}
#List{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    border: solid 1px black;
    min-height: 300px;
    min-width: 300px;
    text-align: center;
    text-decoration: solid;
    font-size: larger;

}
#task_checkbox{
    padding: 50px;
    margin: 30px;
}
#close{
    position: sticky;
    margin: 10px;
    padding: 10px;
    width: max-content;
    height: max-content;
    top: 0%;
    left: 100%;
    background-color: aqua;
}

